.dashboard {
  display: flex;
  width: 95%;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dashboard .dasboard-header {
  width: 25rem;
  padding: 1rem;
  color: #010057;
  text-align: center;
  border-radius: 0.25rem;
  background-color: #ffffff;
}
.dashboard > .dasboard-charts {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
}
.dashboard > .dasboard-charts > div {
  margin: 0.25rem;
}
@media screen and (max-width:520px) {
  .dashboard .dasboard-header {
    width: 15rem;
  }
  .dashboard > .dasboard-charts > div {
    margin: 0rem;
  }
}